include ../node_modules/bempug/index

.container
  .myDiv
    p.p Текущая неделя
    for i in [1,2,3,4]
      label(for=i)= i
      input(type="radio" id=i value=i v-model="selectedWeek")
    .btns
      input.left(type="button" value="Назад" @click="prev")
      strong {{ (currentEx / 1) + 1 }} / {{ excs.length }}
      input.right(type="button" value="Вперед" @click="next")

    br
    h3 {{ excs[currentEx].ex }}
    p
      strong.strong Подходы:
      span {{ excs[currentEx][`week${selectedWeek}`] }}
    img.img(:src=`excs[currentEx].img`)
    .data(v-html="excs[currentEx].text")
    b-table(striped hover :items="excs" :fields="fields" @row-clicked="rowClick" responsive="true")
