html {
  overflow-x: hidden;
}

.table-responsive-true {
  overflow-x: auto;
}

.img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
}

label {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
}

input[type="radio"] {
  margin-left: 5px;
}

.strong {
  margin-right: 10px;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.data {
  margin-bottom: 30px;
}
